html{
  font-family: Helvetica,Verdana, Arial, sans-serif;
  font-size: 16px;

}

table, th, td {
    border: 1px solid black;
  }


.suggestion{
  margin-top: 20px;
}

.homeimg{
  padding-top: 10px;
}

  .topmenu{
    background-color:black; 
    color:white;

    }
  header{
    background-color: black;
  }
  footer {
    background-color: lemonchiffon;
    padding: 10px;
    text-align: center;
    color: black;
  }



  section {
    display: -webkit-flex;
    display: flex;
  }

  .leftside { /* example of style for a class */
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ECECEC;
    padding: 20px;
  }

  .skl a:link{
    color:white;
    }
    .skl a:visited{
      color:white;
  
      }

.skl a
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
.skl a:focus
{
position:static;
width:auto;
height:auto;
}
 
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: white;
    padding-left: 10px;
    
  }

  #menu-outer {
	min-height: 60px;
	background-color: black;
 
}

.table {
	margin: 0 auto;
}



ul#horizontal-list {
	min-width: 696px;
	list-style: none;
  padding-top: 15px;

	}
	ul#horizontal-list li {
		display: inline;
        text-decoration: none;
  /*      margin-right: 30px; */
        padding: 10px 16px;
  
  
    }


  ul#horizontal-list a{
      color:white;
      text-decoration: none;
  
    }

  ul#horizontal-list li:hover{

    background-color: green;
    document.getElementById("home").visibility="hidden";
  }
  label {
    display: inline-block;
    width: 20em;
    margin-left: 0;
    padding-top: .5em;
  }

  input[type=text], [type=date]{

  display: inline-block;
    min-width: 300px;
   padding: 5px 5px; 
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    font-family: Helvetica,Verdana, Arial, sans-serif;
    font-size: 14px;
  }


  input[type=text]:focus {
    border: 2px solid #555;
  }

  input[type=date]:focus {
    border: 2px solid #555;
  }
  
  
  
  textarea {
    font-family: Helvetica,Verdana, Arial, sans-serif;
    font-size: 14px;
    height: 150px;
    padding: 10px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  input[id="submit"], [id="reset"]  {
    background-color: #04AA6D;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    

  
  }


  #simple .wb-eqht section {
    display: inline-block;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    #simple .wb-eqht section {
      width: 49%;
    }
  }
  
  @media (min-width: 1200px) {
    #simple .wb-eqht section {
      width: 33%;
    }
  }
 
 


  /*
  .required:before {
    content:"* ";
    color: #D40100;
  }
  */
  .required{
    color: #D40100;
  }
#validationerrors {
  color: #D40100;
}
  .nocolor a:link{
    color:black;
    }
    .nocolor a:visited{
      color:black;
  
      }

